.frame {
  padding-top: 40px;
  width: 100vw;
  padding-bottom: 104px;
  display: grid;
  flex-direction: column;
  gap: 40px;
}

.title {
  width: 100%;
  font-size: 20px;
  height: 24px;
  font-weight: 300;
  margin-left: calc((100vw - 1200px) / 2);
}


@media screen and (max-width: 768px) {
  .frame{
    padding-top: 40px;
  }
}

