.frame{
    width: 100%;
    position: fixed;
    top: 80px;
    padding: 12px 100px;
    gap: 4px;
    align-self: self-start;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    z-index: 1;
}


.icon{
    width: 5.06px;
    height: 8.71px;
}

.title{
    font-size: 12px;
    font-weight: 300;
}

@media screen and (max-width: 768px){
    .frame{
        width: 100%;
        padding: 12px 16px;
        background-color: white;
    }
}