.searchBox {
  border-bottom: 0.5px solid black;
  width: 100%;
  padding-bottom: 8px;
  gap: 12px;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  border: none;
  color: black;
  outline: none;
  font-weight: 300;
  width: 100%;
}

.input::placeholder {
  color: #aaaaaa;
}

.cross {
  display: none;
}

.input:not(:placeholder-shown) + .cross {
  display: block;
}
