.searchBox{
    border-bottom: 0.5px solid black;
    width: fill;
    padding-bottom: 8px;
    gap: 12px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.input{
    border:none;
    color: black;
    outline: none;
    font-weight: 300;
    width: fill;
}

.input::placeholder {
    color:#AAAAAA;
}

.cross {
   display: none; 
}

.input:not(:placeholder-shown) +.cross{
    display: block;
}