.titleAndPrice{
    display: flex;
    flex-direction: column;
    width: fill;
    gap: 11px;
}

.title{
    height: 29px;
    font-size: 24px;
    font-weight: 300;
}

.price{
    height: 24px;
    font-size: 20px;
    font-weight: 300;
}

@media screen and (max-width: 768px){
    
}