.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding:24px 100px ;
}

@media screen and (max-width: 768px){
    .header {
        padding:24px 16px ;
    }
}