.mainFrame{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.imageFrame{
    height: 630px;
    width: 510px;
    position: relative;
}

.image{
    object-fit: contain;
}

.productInfoFrame{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 380px;
}

.titleAndPrice{
    display: flex;
    flex-direction: column;
    width: fill;
    gap: 11px;
}

.title{
    height: 29px;
    font-size: 24px;
    font-weight: 300;
}

.price{
    height: 24px;
    font-size: 20px;
    font-weight: 300;
}

.selectors{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.selectorFrame{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.selectorTitle{
    font-size: 14px;
    font-weight: 300;
    width: 305px;
    height: 17px;
}

.colorName{
    height: 15px;
    font-size: 12px;
    font-weight: 300;
}

