.mainFrame{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.imageFrame{
    height: 630px;
    width: 510px;
    position: relative;
}

.image{
    object-fit: contain;
}

.productInfoFrame{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 380px;
}



