.spect {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 0.5px solid black;
  gap: 48px;
  padding: 16px 0;
  align-items: center;
}

.spectKey {
  font-size: 12px;
  font-weight: 300;
}

.spectDescription {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 768px) {
}
