.frame{
    padding: 12px 100px;
    gap: 4px;
    align-self: self-start;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.icon{
    width: 5.06px;
    height: 8.71px;
}

.title{
    font-size: 12px;
    font-weight: 300;
}

