.carouselContainer {
  width: 100vw;
  display: flex;
  position: relative;
  overflow-x: scroll;
  padding-bottom: 40px;
}

.carousel {
  padding-left: calc((100vw - 1200px) / 2);
  margin-right: calc((100vw - 1200px) / 2);
  display: flex;
  overflow-x: visible;
}

.carouselContainer::-webkit-scrollbar {
  height: 1px;
}
.carouselContainer::-webkit-scrollbar-thumb {
  background-color: black;
}
.carouselContainer::-webkit-scrollbar-track {
  background-color: #cccccc;
  margin-left: calc((100vw - 1200px) / 2);
  margin-right: calc((100vw - 1200px) / 2);
}


